/* Dino List */
.dinos-list {
  display: grid;
  gap: 2rem 1rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  margin-top: 2rem;
}

/* Dino Card */
.dino {
  background-color: var(--primary-bg-color);
  border: 1px solid var(--secondary-bg-color);
  border-radius: var(--border-radius);
  font-size: var(--font-size-base);
  position: relative;
  text-align: center;
}

.dino .container {
  padding: var(--padding-base) .6em;
}

/* Dino Diet */
.dino .diet {
  position: absolute;
  top: 17px;
  left: 15px;
}

.dino .diet .element {
  width: 2em;
  height: 2em;
  background-color: transparent;
}

/* Dino ID */
.dino .id {
  position: absolute;
  top: 17px;
  right: 17px;
  color: var(--text-color);
  background-color: var(--highlight-bg-color);
  border-radius: 10%;
  font-size: 22px;
  font-weight: 500;
  padding: 1px 4px;
  text-shadow: 1px 1px 0 #000;
  letter-spacing: 1.5px;
}

/* Dino Name */
.dino .name {
  margin-top: 0.2em;
  color: var(--text-color);
  font-size: var(--font-size-large);
}

/* Dino Type */
.dino .tipo {
  margin-top: 0.7em;
  color: var(--text-color);
  font-size: 1em;
}

/* Dino Description */
.dino .desc {
  margin-top: 1em;
  color: var(--text-color);
  font-size: var(--font-size-small);
  text-align: justify;
  padding: 0 3px;
}

/* Dino Image */
.dino .image img {
  background-color: var(--highlight-bg-color);
  border-radius: var(--border-radius);
  width: 100%;
  height: auto;
}