<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Página Estática</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myApp/styles.css' %}">
</head>
<body>
    <div class="main-layout">
        <h1>Bem-vindo à minha página estática!</h1>
        <div class="teste">
            <p>Esta é uma página estática publicada via Django. Aproveite o design moderno e responsivo!</p>
        </div>
    </div>
</body>
</html>
